---
import Layout from "@/layouts/layout-portfolio.astro";
import BioSection from "@/components/page/portfolio/bio.astro";
import PillsSection from "@/components/page/portfolio/pills.astro";
import CardsSection from "@/components/page/portfolio/cards.astro";
import LinksListSection from "@/components/page/portfolio/links-list.astro";
import Footer from "@/components/page/portfolio/footer.astro";
import PixelBlast from "@/components/ui/pixel-blast";

import "@/styles/portfolio.css";

interface Project {
  name: string;
  description: string;
  url?: string;
}

const technologies = [
  "react.js",
  "next.js",
  "vue.js",
  "postgresql",
  "aws",
  "supabase",
  "tailwindcss",
  "shadcn",
  "typescript",
  "three.js",
  "html",
  "css",
  "javascript",
  "wordpress",
];

const projects: Project[] = [
  {
    name: "Hackerfolio",
    description: "Generate professional portfolio with AI easy way.",
    url: "#",
  },
  {
    name: "Hackerfolio",
    description: "Generate professional portfolio with AI easy way.",
    url: "#",
  },
  {
    name: "Hackerfolio",
    description: "Generate professional portfolio with AI easy way.",
    url: "#",
  },
];

const mockData = {
  bio: {
    name: "Mark Coderfast",
    title: "Full-stack developer at Google",
    description:
      "I'm Mark Coderfast a New York-based designer, developer, and serial tinkerer. I am working as full-stack developer since 2012.",
    avatarSrc: "/images/avatar.jpg",
    links: {
      email: "mark@coderfast.com",
      github: "https://github.com/markcoderfast",
      linkedin: "https://linkedin.com/in/markcoderfast",
      twitter: "https://twitter.com/markcoderfast",
    },
  },
  sections: [
    {
      type: "pills",
      data: {
        title: "Tech stack",
        description: "Technologies that I used to work with:",
        items: technologies,
      },
    },
    {
      type: "cards",
      data: {
        title: "My projects",
        items: projects,
      },
    },
    {
      type: "links-list",
      data: {
        title: "My other places",
        items: [
          {
            url: "https://markcoderfast.com",
            label: "My blog",
          },
          {
            url: "https://google.com",
            label: "My current company",
          },
          {
            url: "https://twitter.com/markcoderfast",
            label: "My Twitter",
          },
        ],
      },
    },
  ],
};
---

<Layout title="Portfolio - Hackerfolio">
  <div class="max-w-[480px] mx-auto pt-24 px-5 relative z-[1]">
    <BioSection
      name={mockData.bio.name}
      title={mockData.bio.title}
      description={mockData.bio.description}
      avatarSrc={mockData.bio.avatarSrc}
      links={mockData.bio.links}
    />

    <main>
      <PillsSection
        items={mockData.sections[0].data.items as string[]}
        title={mockData.sections[0].data.title}
        description={mockData.sections[0].data.description as string}
      />

      <CardsSection items={mockData.sections[1].data.items as Project[]} title={mockData.sections[1].data.title} />

      <LinksListSection items={mockData.sections[2].data.items} title={mockData.sections[2].data.title} />
    </main>
  </div>
  <div class="absolute top-0 left-0 h-[33vh] w-full">
    <PixelBlast client:load color="#E5E5E5" />
  </div>
  <Footer copyrightYear="2025" copyrightText="© All rights reserved." madeWithText="» Made with" madeWithUrl="/" />
</Layout>
