---
import { Image } from "astro:assets";
import { marked } from "marked";

interface Props {
  name: string;
  title?: string;
  description: string;
  avatarSrc?: string;
  links: Record<string, string>;
}

const { name, title, description, avatarSrc, links } = Astro.props;

const htmlDescription = marked(description);
---

<section>
  {
    avatarSrc ? (
      <div class="relative max-w-max mb-8">
        <div class="bg-linear-340 from-primary to-transparent to-50% absolute top-0 left-0 h-full w-full z-10" />
        <Image src={avatarSrc} height={64} width={64} alt="" class="w-24 h-24" />
      </div>
    ) : (
      <div class="w-24 h-24 mb-8" />
    )
  }

  <h1 class="text-2xl font-bold mb-2">{name}</h1>

  {
    title && (
      <p class="text-foreground/64 font-mono uppercase text-sm mb-5">
        <span class="text-primary" aria-hidden="true">
          ►
        </span>
        {title}
      </p>
    )
  }

  <div
    class="text-foreground text-base mb-5 max-w-prose prose prose-sm prose-invert space-y-4"
    set:html={htmlDescription}
  />

  <nav class="flex flex-wrap">
    {
      Object.entries(links).map(([platform, url]) => (
        <a
          class="link-button"
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`${name}'s ${platform} profile`}
        >
          {platform}
        </a>
      ))
    }
  </nav>
</section>
